@page "/auth-denied"
@rendermode InteractiveServer

<div class="container d-flex flex-column justify-content-center align-items-center mt-5" style="max-height:100vh;">
    <div>
        <img src="./icons/access-denied.png"/>
    </div>

    <div>
        <h3 class="alert alert-danger">Nemate pristup ovoj stranici</h3>
    </div>
</div>